/* Font */
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,500,700');

html, body {
	-ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0; padding: 0; background-color: #000000; font-family: "Rajdhani", "Archivo", sans-serif;
    font-size: 12pt;
}

.myCol {
  fonr-size: 16pt;
}


/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}


@media only screen and (min-width: 1281px) {
	.cards_item {
    width: 16.66%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	.cards_item {
    width: 16.66%;
  }
}

/* iPad Screen landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .cards_item {
    width: 16.66%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .cards_item {
    width: 25%;
  }
}

/* iPhone Screen in Portrait and Landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  .cards_item {
    width: 50%;
  }
}



.card {
  background-color: #29435c;
  border-radius: 0.25rem;
  /*box-shadow: 0 20px 40px -14px rgba(255, 0, 0, 0.25); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  /*background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);*/
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  /* font-size: 0.875rem; */
	font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card_header {
	font-family: "Rajdhani", "Archivo", sans-serif;
	font-size: 2rem;
	text-align: center;
	color: #ffffff;
}

.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
